.jd-filter-section {
  position: relative;
  padding: 10px;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: height 0.3s ease-in-out;
  font-family: var(--font-family);
}

.jd-filter-section__container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  display: none;
}

.jd-filter-section__select,
.jd-filter-section__input {
  padding: 10px;
  border: 1px solid var(--quinary-color);
  border-radius: 5px;
  width: 100%;
  max-width: 150px;
  background-color: var(--tertiary-color);
  color: var(--quinary-color);
}

.jd-filter-section__button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  cursor: pointer;
  transition: background-color 0.3s;
  color: var(--secondary-color);
}

.jd-filter-section__button:hover {
  background-color: var(--tertiary-color);
  box-shadow: 0px 4px 6px var(--shadow-color);
}

.jd-filter-section__toggle {
  background: none;
  border: none;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  cursor: pointer;
  font-size: 24px;
  color: var(--secondary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--tertiary-color);
  box-shadow: 0px 4px 6px var(--shadow-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, background-color 0.3s ease;
}

.jd-filter-section__toggle:hover {
  transform: translateX(-50%) translateY(50%) scale(1.1);
  background-color: var(--octonary-color);
}

.jd-filter-section__arrow {
  font-size: 20px;
  color: var(--secondary-color);
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .jd-filter-section__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .jd-filter-section__select,
  .jd-filter-section__input,
  .jd-filter-section__button {
    max-width: none;
    width: 100%;
    margin-bottom: 10px;
  }

  .jd-filter-section__button {
    width: 80%;
  }
}
