.jd-footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
}

.jd-footer__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.jd-footer__section {
  flex: 1;
  min-width: 200px;
  text-align: left;
}

.jd-footer__title {
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--tertiary-color);
  font-size: 16px;
  font-family: var(--font-family);
}

.jd-footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.jd-footer__link {
  color: var(--quinary-color); /* Enlaces en gris claro */
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: var(--font-family); /* Tipografía global */
}

.jd-footer__link:hover {
  color: var(--primary-color); /* Hover en blanco */
}

@media (max-width: 768px) {
  .jd-footer__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .jd-footer__section {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .jd-footer__list {
    padding: 0;
  }
}
